
<ion-content>

  

<div class="parentsector">

<div class="child">
  <img src="/assets/briefcase.png" alt="" srcset="">
    <p>Banking</p>
</div>
<div class="child">
  <img src="/assets/envelope.png" alt="" srcset="">
    <p>Energy</p>
</div>
<div class="child">
  <img src="/assets/bank.png" alt="" srcset="">
    <p>finance</p>
</div>
<div class="child">
  <img src="/assets/credit-card.png" alt="" srcset="">
    <p>Taxation</p>
</div>
<div></div>
<div></div>

</div>




<h1>Our Practice</h1>
<swiper [pagination]="true" class="product-slider" [slidesPerView]="2" [loop]="true"  effect="fade"  [spaceBetween]="15">
  <ng-template swiperSlide>
    
    <span class="boxbackground"> 
    <div class="box">
    <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Banking law<p></div>
  </div>
    </span>
  </ng-template>

  <ng-template swiperSlide>
    <span class="boxbackground">    <div class="box">
    <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
    <div class="imgtext"> <img src="/assets/briefcase.png"><p>Taxation law<p></div>
    </div>
</span>  
</ng-template>

<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Private Equity<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Mergers & Acquisition<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Media Law<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>International Trade<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Risk Managment<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Insolvency & Debt<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Capital Market<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Corporate Practice<p></div>
  </div>
</span>  
</ng-template>


<ng-template swiperSlide>
  <span class="boxbackground">    <div class="box">
  <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/download.jpg'">
  <div class="imgtext"> <img src="/assets/briefcase.png"><p>Intellectual property<p></div>
  </div>
</span>  
</ng-template>






</swiper>

<h1>Our Lawyers</h1>

<swiper [pagination]="true" class="product-slider" [slidesPerView]="2" [loop]="true"  effect="fade"  [spaceBetween]="15">



  
  <ng-template swiperSlide>
    <span class="boxbackground"> 
    <div class="box">
    <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/otayemi.png'">
  
    <div class="imgtext"> <img src="/assets/layers.png"><p>Otumba Otayemi<p></div>
    </div></span>
  </ng-template>

  <ng-template swiperSlide>
    <span class="boxbackground"> 
    <div class="box">
    <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/ayodeji.png'">
  
    <div class="imgtext"> <img src="/assets/layers.png"><p>Ayodele Olufadeji<p></div>
    </div></span>
  </ng-template>
  <ng-template swiperSlide>
    <span class="boxbackground"> 
    <div class="box">
    <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/funmi.png'">
  
    <div class="imgtext"> <img src="/assets/layers.png"><p>Otayemi Funmi<p></div>
    </div></span>
  </ng-template>
  <ng-template swiperSlide>
    <span class="boxbackground"> 
    <div class="box">
    <img [defaultImage]="'https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921'" [lazyLoad]="'/assets/peaceman.png'">
  
    <div class="imgtext"> <img src="/assets/layers.png"><p>Peaceman O. Jemine<p></div>
    </div></span>
  </ng-template>

</swiper>


<p class="lastpara">Lorem ipsum dolor sit amet consectetur, adipisicing pvfoococ,ocxocoooooo   elit. Vel porro molestiae eos doloribus distinctio hic ullam suscipit quis saepe? Pariatur ipsa voluptatum itaque molestias rem numquam officia eius laboriosam beatae!</p>

</ion-content>
